div{
    padding-top: 150px;
    text-align: center;
}
h3{
    font-size: 15px;
    font-family: Impact;
}
button{
    width: 250px;
    height: 80px;
    background-color:lightgrey;
    color: black;
    border-radius: 15px;
    font-size: large;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 33px;
}
button:hover{
    background-color: Lightgreen;
}
#quoteOutput,#authorOutput{
    font-family: cursive;
}
body{
    background-color: rgb(255, 230, 230);
}